<div class = "contents row">
  <%= form_for('/blogs', method: :post) do %>
  <h1>投稿する</h1>
  <input placeholder="nickname" type="text" name="name">
  <textarea cols = "30" name="text" placeholder="text" rows="10"></textarea>
  <input type="submit" value="sent">
  <% end %>
</div>
